<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">
          Titre du post : 
        </label>
        <input type="text" id="title" class="form-control" name="title" ngModel required>
      </div>
      <div class="form-group">
        <label for="content">
          Contenu : 
        </label>
	        <textarea class="form-control" id="content" name="content" rows="3" ngModel required>
	        </textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>