<!--<div class="container">
  <app-post-list [posts]="posts"></app-post-list>
</div>-->


<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
        <li routerLinkActive="active"><a routerLink="new">Nouveau Post</a></li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
       <router-outlet></router-outlet>
    </div>
  </div>
</div>