<li class="list-group-item"
    [ngClass]="{'list-group-item-success': 0 < loveIts,
                'list-group-item-danger': 0 > loveIts}">
  <div class="d-flex w-100 justify-content-between">
    <h2>{{ title }}</h2>
    <p>{{ date | date: 'dd/MM/yyyy hh:mm a' }}</p>
  </div>
  <p>
    {{ content }}
  </p>
  <p>
    <button class="btn btn-success" (click)="onLike(id)">J'aime</button>
    <button class="btn btn-danger" (click)="onDislike(id)">J'aime pas</button>
    <button class="btn btn-danger" (click)="onRemovePost(id)">Supprimer</button>
  </p>
</li>
