<div>
  <h1>Posts</h1>
  <ul class="list-group">
    <app-post-list-item *ngFor="let post of posts"
    					[id]="post.id"
                        [title]="post.title"
                        [content]="post.content"
                        [loveIts]="post.loveIts"
                        [date]="post.date"></app-post-list-item>
  </ul>
</div>
